LiveTraffic/GenerateDataForTesting/Service References/ServiceReference1/MobileService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://www.livetraffic.somee.com/MobileService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://www.livetraffic.somee.com/MobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.livetraffic.somee.com/MobileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MobileService_Login_InputMessage">
    <wsdl:part name="parameters" element="Login" />
  </wsdl:message>
  <wsdl:message name="MobileService_Login_OutputMessage">
    <wsdl:part name="parameters" element="LoginResponse" />
  </wsdl:message>
  <wsdl:message name="MobileService_UpdateStreetStatus_InputMessage">
    <wsdl:part name="parameters" element="UpdateStreetStatus" />
  </wsdl:message>
  <wsdl:message name="MobileService_UpdateStreetStatus_OutputMessage">
    <wsdl:part name="parameters" element="UpdateStreetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="MobileService_GetStreetStatus_InputMessage">
    <wsdl:part name="parameters" element="GetStreetStatus" />
  </wsdl:message>
  <wsdl:message name="MobileService_GetStreetStatus_OutputMessage">
    <wsdl:part name="parameters" element="GetStreetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="MobileService_GenerateData_InputMessage">
    <wsdl:part name="parameters" element="GenerateData" />
  </wsdl:message>
  <wsdl:message name="MobileService_GenerateData_OutputMessage">
    <wsdl:part name="parameters" element="GenerateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="urn:MobileService/Login" message="MobileService_Login_InputMessage" />
      <wsdl:output wsaw:Action="urn:MobileService/LoginResponse" message="MobileService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStreetStatus">
      <wsdl:input wsaw:Action="urn:MobileService/UpdateStreetStatus" message="MobileService_UpdateStreetStatus_InputMessage" />
      <wsdl:output wsaw:Action="urn:MobileService/UpdateStreetStatusResponse" message="MobileService_UpdateStreetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetStatus">
      <wsdl:input wsaw:Action="urn:MobileService/GetStreetStatus" message="MobileService_GetStreetStatus_InputMessage" />
      <wsdl:output wsaw:Action="urn:MobileService/GetStreetStatusResponse" message="MobileService_GetStreetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateData">
      <wsdl:input wsaw:Action="urn:MobileService/GenerateData" message="MobileService_GenerateData_InputMessage" />
      <wsdl:output wsaw:Action="urn:MobileService/GenerateDataResponse" message="MobileService_GenerateData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>